#animatedBackground {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;

  background: url(../../icons/registrationBackground.svg) repeat;
  background-size: cover;
  background-position: 0 0;
  animation: animatedBackground 500s linear infinite;

  background-color: black;
}

@keyframes animatedBackground {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}

.responsive-container {
  margin: 0 auto 0 auto;
  max-width: 1000px;
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-top: 65px;
}

.edit-profile-container {
  background: rgba(36, 36, 36, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid #8383833f;
  margin-bottom: 15px;
  padding: 40px 40px 40px 40px;
  width: 450px;

  margin: 0 auto;
}

.title {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 1.5rem;
  color: whitesmoke;
  text-align: center;
  margin-bottom: 20px;
}

.edit-form {
  display: flex;
  flex-direction: column;

  width: 100%;
}

.inline-fields {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.inline-fields > div:first-of-type {
  margin-right: 15px;
}

.save-btn {
  width: 150px;
  height: 40px;
  border-style: none;
  border-radius: 5px;
  align-self: center;
  margin-top: 5px;
  background-color: #48883e;
  cursor: pointer;
  color: whitesmoke;
  font-family: 'Poppins';
  font-weight: bold;
  transition: opacity 0.1s ease-in-out;
}

.save-btn:active {
  padding-top: 3px;
  opacity: 0.8;
}
