@use './variables';

@mixin button-mixin(
  $color-background: variables.$color-primary,
  $color-text: variables.$color-text-primary
) {
  background-color: $color-background;
  border: none;
  border-radius: 10px;
  color: $color-text;
  font-weight: bold;
  font-size: 16px;
  padding: 4% 0%;
  width: 100%;
  transition: background-color 0.1s, transform 0.1s, opacity 0.1s;

  &:hover {
    opacity: 0.8;
    transform: scale(1.025);
  }

  &:active {
    opacity: 1;
    transform: scale(0.95);
  }
}

@mixin form-mixin(
  $color-background: variables.$color-bg-dark,
  $width: 350px,
  $box-shadow: variables.$box-shadow
) {
  background-color: $color-background;
  width: $width;
  border-radius: 15px;
  overflow: hidden;
  margin: 0 auto;
  padding: 40px;
  box-shadow: $box-shadow;
}
