$primary-color: #48883e;
$secondary-color: #64b657;
$dark-bg: #1e1e1e;
$error-color: #cc3300;
$muted-text: #a0a0a0;
$text-color: white;
$sidebar-module-highlight: #383938;

$box-shadow: 0 0 15px 15px rgba(0, 0, 0, 1);