@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Saira+Stencil+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Roboto:wght@400;500;700&family=Saira+Stencil+One&display=swap');

:root {
    --primary-font: 'Poppins', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
    --highlight-font: 'Saira Stencil One', sans-serif;

    --main-bg-color: black;
    --animated-bg-duration: 500s;
    --shake-duration: 0.82s;

    --filter-green: invert(54%) sepia(9%) saturate(2742%) hue-rotate(65deg) brightness(81%) contrast(80%);
    --filter-grey: brightness(0) saturate(100%) invert(45%) sepia(6%) saturate(25%) hue-rotate(2deg) brightness(97%) contrast(84%);

    --box-sizing: border-box;
    --font-size: 100%;
    --line-height: 1.5;
    --img-max-width: 100%;

    --cursor-pointer: pointer;
    --outline-none: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: var(--box-sizing);
    font-size: var(--font-size);
    font-family: var(--secondary-font), sans-serif;
}

img,
picture,
video {
    max-width: var(--img-max-width);
}

img {
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

button {
    cursor: var(--cursor-pointer);
}

textarea:focus,
input:focus {
    outline: var(--outline-none);
}

p,
button {
    font-family: var(--primary-font);
}

#animatedBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    background: var(--main-bg-color) url(src/assets/icons/registrationBackground.svg) repeat 0 0;
    background-size: cover;
    animation: animatedBackground var(--animated-bg-duration) linear infinite;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes animatedBackground {
    from {
        background-position: 0% 0%;
    }
    to {
        background-position: 100% 100%;
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.apply-shake {
    animation: shake var(--shake-duration) cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.responsive-container {
    display: flex;
    flex-direction: row;

    margin: 0 auto 0 auto;
    max-width: 1000px;
    width: 100%;
    height: 100%;
}

.filter-green {
    filter: var(--filter-green);
}

.filter-grey {
    filter: var(--filter-grey);
}
