.overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.sections-grid {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 250px auto;
}

.panel {
  width: 450px;
  background-color: rgb(41, 41, 41);
  border-radius: 10px;
  margin-right: 15px;
  padding: 22.5px;
}

.title-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.current-step {
  font-size: 14px;
  margin-bottom: 5px;
}

.title {
  font-size: 20px;
  color: rgb(72, 136, 63);
  font-weight: bold;
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  width: 350px;
  text-align: center;
}

.section-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
}

.section-metadata p {
  font-size: 14px;
  color: rgb(147, 147, 147);
}

.create-community-btn {
  background-color: rgb(72, 136, 63);
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 10px;
  width: 100%;
  transition: background-color 0.1s, transform 0.1s, opacity 0.1s;
  }
  
.continue-create-community-btn:hover {
  opacity: 0.8;;
  }

.form-interaction-buttons {
  margin-top: 10px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.apply-shake {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.close-btn {
  cursor: pointer;
}