.follower {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  padding: 5px 0;
}
.follower:hover {
  background-color: #2f302f;
  border-radius: 5px;
}

.user-photo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5px;
}

.user-photo {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50px;
  image-rendering: auto;
}

.user-name {
  font-size: 0.8rem;
}