@import './PasswordField.css';

.form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.field-input {
  padding-right: 10px;
}

.fa-solid {
  display: inline-block;
  margin-right: 3.5%;
  color: #9e9e9e;
  cursor: pointer;
}

@media screen and (min-width: 48em) {
  .fa-solid {
    font-size: 1.35rem;
  }
}

@media screen and (min-width: 80em) {
  .fa-solid {
    display: inline-block;
    font-size: 1rem;
  }
}
