@import './PasswordField.css';

.form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.field-input {
  padding-right: 10px;
}

.fa-solid {
  display: inline-block;
  color: #9e9e9e;
  cursor: pointer;
  margin-right: 6.5px;
  font-size: 15px;
}