.panel {
  background: rgba(36, 36, 36, 0.8);
  border: 1px solid #8383833f;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  width: 100%;
  padding: 10px;
  padding-bottom: 0;
  margin-right: 12.5px;
  margin-top: 65px;
  border-radius: 15px;

  display: flex;
  flex-direction: column;
}

.active-tab {
  background-color: #383838;
}