.user-profile {
  background: rgba(36, 36, 36, 0.8);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 15px;
  border: 1px solid #8383833f;
  margin-top: 65px;
  margin-bottom: 15px;
  padding: 47.5px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile-picture-container {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 55px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  width: 150px;
  height: 150px;
  object-fit: cover;
  position: relative;
}

.user-status {
  position: absolute;
  top: 165px;
  left: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: rgba(36, 36, 36, 0.8);

  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  padding: 5px;
}

.status-icon {
  width: 15px;
  height: 15px;
  object-fit: cover;
}

.profile-info {
  height: 130px;
  flex: 1;
}

.profile-info-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5px;
}

.profile-name {
  font-weight: bold;
  font-size: 1.25rem;
}

.interaction-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.interaction-btn {
  background-color: #383938;
  font-size: 1;
  font-weight: 500;
  color: #e0e2e6;
  border: none;
  border-radius: 7px;
  width: 35px;
  height: 35px;
  margin-right: 7.5px;
}
.interaction-btn:hover {
  background-color: rgb(65, 65, 65);
}
.interaction-btn:active {
  background-color: rgb(50, 50, 50);
}

.profile-info div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.amount-posts {
  margin-right: 5%;
}

.profile-bio {
  font-size: 0.9rem;
  line-height: 150%;

  width: 350px;
  margin-bottom: 20px;
}

.address-text {
  font-size: 0.9rem;
  color: #8c8e8f;
  margin-right: 12px;
}

.extra-info-text {
  font-size: 0.9rem;
  color: #8c8e8f;
  margin-right: 12px;
  cursor: pointer;
}
.extra-info-text:hover {
  text-decoration: underline;
}